@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px)
	html, body
		.t-header
			font-size: 11px
			a 
				span
					left: 170px
		.header-phone
			display: none
									

		#search
			margin-left: -15%
			
		.logo
			margin-top: -11%
			margin-right: 0
			a 
				margin-left: -25%
				svg 
					margin-left: -4%
		.hed-menu
			position: absolute			
			margin-left: 34%

		.swiper-viewport
			margin-top: 0	!important
		.deliver
			margin-top: 20px
		.review-main
			margin-top: 50px	
		.main-footer
			.logo-footer
				margin-left: 10%
				margin-top: 30%
				a 
					font-size: 85px		
			.reserv-footer
				margin-top: 12%
			.registration-footer
				a 
					margin-left: 0	
			.section1-footer
				.social-footer
					li 
						margin-top: 13% 
		#ocfilter
			left: 0		
			border: 1px solid #929191	
			z-index: 10000
		.ocf-offcanvas
			position: fixed 
			top: 0 
			background-color: #fff 
			bottom: 0 
			z-index: 1000
			height: 100% 
			left: 100% 
			width: 20% 
			padding: 0 
			transition: left 250ms ease 
		.ocf-offcanvas.active
			left: 85% 
		.ocfilter-mobile-handle
			position: absolute 
			left: -30%
			z-index: 10000
			top: 165px 
			.btn
				border-radius: 0 					
		.ocf-offcanvas-body
			overflow-x: hidden 
			overflow-y: auto 
			position: absolute 
			top: 0 
			bottom: 0 
			right: 0 
			width: 100%

		 						

/* Medium Devices, Desktops */
@media only screen and (max-width : 1050px)			
	html, body
		#content
			.row
				margin-right: -15px
				margin-left: -15px
		#search
			margin-left: -25px !important

		.logo
			margin-left: 25%	
			margin-top: -13%
			a 
				font-size: 3em
				svg
					width: 2em		
					margin-left: 0.1%
		#form-language
			button 
				margin-top: 10px
				span 
					display: inline-block !important
			.dropdown-menu
				li 
					margin-left: 50px
					
		#cart
			button 
				margin-left: 150%
				margin-top: -70%
		.bannertab
			margin-top: 90px
			.nav-tabs
				> li:last-child
					display: none	
		#tab-new
			.slideLeft, .slideRight 
				font-size: 1.7em
		#tab-sale
			.slideRight, .slideLeft
				font-size: 3.67em			
			h4 
				font-size: 2.9em
				left: 19%
			.button-sale
				font-size: 1.3em	
				left: 36%
				top: 54%
		#tab-best
			.slideDown
				top: 24%
				left: 21%
			.buyer
				top: 54%
				left: 19.5%
			.heart
				top: 38.8%
				font-size: 3.2em
		#tab-colection
			a 
				font-size: .8em
			.col-top
				font-size: 7em
			.col-top7
				left: 25%
		#tab-bigsize
			.slideRight, .slideLeft
				font-size: 4.2em
		#tab-blog	
			display: none	

		.latesthom
			top: 40px

		.deliver
			width: 68em
			height: 10em
			left: 1.8%	
			.col-md-4
				&:last-child
					.dropdown-menu
						margin-left: -140px			
		.main-footer
			.logo-footer
				margin-left: 5%
				margin-top: 30%
				a 
					font-size: 75px		
			.reserv-footer
				margin-top: 50%
				font-size: 12px
			.registration-footer
				margin-top: 2%
				font-size: 12px
				line-height: .5
				a 
					margin-left: 0	
			.section1-footer
				.social-footer
					li 
						margin-top: 5% 
		.ocfilter-mobile-handle
			left: -31.5%
		.ocf-offcanvas
			left: 99%
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	html, body
		margin-top: -1%
		#content
			.product-layout	
				padding-right: 15px
				padding-left: 15px	
				.product-thumb

		#menu
			margin-left: -30px
			a 
				font-size: 14px
			svg
				width: 25px
		.logo
			margin-top: -30px
			margin-left: -50px
			a	
				font-size: 3em
				svg
					width: 1.7em
					margin-left: 1%
		#search
			margin-left: -55px !important
			width: 13em
			.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
				margin-left: -1em !important

		.hed-menu
			margin-left: 25px !important
		.btn-link
			margin-left: -40px	!important

		#cart
			button 
				margin-left: 21%
				margin-top: -20px
			.btn-danger
				top: 5px

		.button-menu
			top: 35px

		.menu
			top: 0

		.deliver
			width: 130%
			display: inline-block
			left: 3%
			.col-md-4
				position: relative			
				float: left
				width: 23.5%
				&:nth-child(1)
					width: 33%
					margin-right: -7%
				.advantage-sending	
					width: 80%
			a 
				font-size: 1em
				svg
					margin-left: 0

		.main-footer			
			.logo-footer
				margin-top: 0
				a 
					font-size: 75px		
			.reserv-footer
				position: relative
				margin-top: 0
				right: 0
				font-size: 12px
			svg
				left: 80%	
				margin-top: -20%
			.registration-footer
				position: absolute
				margin-top: -2.8%
				left: 7%
				a 
					margin-left: 0	
			.section1-footer
				.social-footer
					li 
						margin-top: 5% 
		.ocfilter-mobile-handle
			left: -37%
		.ocf-offcanvas.active
			left: 81%	
		.ocf-offcanvas
			left: 99.5%	
/**/
@media only screen and (max-width : 1030px)			
	html, body
		#search
			margin-left: -90%		
			.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
				margin-left: -3em
		#cart
			.btn-danger
				top: 5px
				right: 25px		

/* Small Devices, Tablets */
@media only screen and (max-width : 770px)
	html, body
		#cart
			button 
				margin-left: 145%
				margin-top: -60px			
			.btn-danger
				top: 30px

		div.alert.alert-success.alert-dismissible
			width: 65%	
			left: 15%

		.hed-menu				
			display: block
			height: 45px
			margin-top: 9%
			span 
				.lang-link
					margin-top: 10em
			svg
				margin-top: -60%
		.btn-link
			margin-top: 15%	 	
		.menu
			top: 20px
		.icon-menu
			width: 2em
			height: 2em
		.deliver
			width: 80%
			left: 20%
			margin-bottom: -30px
			.col-md-4
				margin-right: 40px
			.icon-hom-text
				display: none
		
/**/
@media only screen and (max-width : 740px)
 html, body 
 	margin-top: -10px

 	#search
 		margin-left: -80%

 	.logo
 		margin-top: -25px
 		margin-left: 150px
 		a 
 			font-size: 40px
 			svg 
 				width: 1.6em			 
 				margin-left: 10px

 	.hed-menu
 		margin-top: 0
 		display: block
 		background-color: #dbdee0	
 		width: 740px
 		left: -20px
		li 
			left: 240px
 		a 
 			margin-left: 20px
	 		svg 
	 			margin-top: 5px
		.btn-link	
			display: block
			z-index: 100
			margin-left: 12px !important
			top: -10px 

 	.phone-xs
 		display: block
 		position: absolute
 		margin-left: 178px
 		margin-top: 3px
 		.dropdown-menu
 			margin-left: -90px 			
 		ul
 			font-family: 'Montserrat Alternates', sans-serif	
 			> li 		
				ul
					display: inline-block	
					width: 100%			
					li
						float: left
						margin-right: 40px
						a
							svg
								fill: #120e10
								margin-left: -140px
								margin-top: -20px
 	#cart 
 		margin-left: 495px
 		margin-top: 59px
 		button 
 			display: block
 			position: absolute
 			height: 45px
 			width: 95px
 			background-color: #ff66c4	
 			padding: 2px 0 20px 0
 			margin-left: -20px !important
 		svg
 			margin-top: 8px
 		.dropdown-menu.pull-right
 			right: 100%
 		.btn-danger
 			top: 60px
 			right: -10px	
		.ocfilter-mobile-handle
			left: -41%
		.ocf-offcanvas.active
			left: 80%
		.ocf-offcanvas
			left: 100%
	.modal-content
		.close
			left: 70%
	.btn .btn-link .button-coll-side .button-sale-popup
		bottom: 0 !important
 


/**/
@media only screen and (max-width : 670px) 			
	html, body
		margin-top: -2%
		#menu
			margin-top: 10px
		#search
			margin-top: 2.5%
		.logo
			margin-right: -60px
			margin-top: -20px
		.hed-menu
			margin-top: 0
		#cart
			button 
				margin-left: -100px !important
			.dropdown-menu.pull-right
	 			right: 120%	
		 		.btn-danger 
		 			top: 60px
		 			left: 90px		
		.button-menu
			left: 20px	
			top: 38px	 		
		div.alert.alert-success.alert-dismissible
			width: 75%

		.modal-content
			.close
				left: 72%	
				top: 7%
			.btn
				margin-left: 27%	

		.main-footer
			.section1-footer
				.social-footer
					margin-left: -30px
					li 
						margin: 8px 20px	-40px 0
			.registration-footer
				margin-left: 18%				
			.information-footer
				margin-left: 0
				text-align: center							
				.list-unstyled
					text-align: left
					margin-left: 15px
					margin-bottom: -20px
				a 
					font-size: 10px
			.logo-footer
				margin-left: 35%	
			.reserv-footer
				left: 30%		
		.ocfilter-mobile
			.ocfilter-option-popover
				margin-left: 51% 
		.ocfilter-mobile-handle
			left: -41%
		.ocf-offcanvas.active
			left: 79%
		.ocf-offcanvas
			width: 23%
			left:
						
/* Extra Small Devices, Phones */
@media only screen and (max-width : 420px)
	html, body 
		margin-top: -15px
		#menu
			margin-left: 25px

		#search
 			margin-left: -8% !important
 			margin-top: 5px

		.logo
			margin-top: -20%
			margin-left: 53%

			a	
				font-size: 31px
				svg 
					margin-left: 10%
		#cart
			button
				margin-left: -18.7em !important
				margin-top: -3.35em		
 		.dropdown-menu.pull-right
 			right: 156%
 			width: 75%
 		.btn-danger
 			top: 35px	!important
 			left: 220px !important
		div.alert.alert-success.alert-dismissible
			width: 100%
			left: 0
			height: auto
			.close
				top: -25px
		.button-menu
			width: 40px
			height: 35px
	 	.hed-menu
	 		margin-top: -20px
	 		display: block
	 		background-color: #dbdee0	
	 		width: 740px
	 		left: -30px
			li 
				left: 240px
	 		a 
	 			margin-left: 20px
		 		svg 
		 			margin-top: 5px
					
			.btn-link	
				display: block
				z-index: 100
				margin-left: 12px !important
				top: -30px 

		.social-mi
			margin-left: 140px 

		.phone-xs
		 	ul	
	 			> li 		
					ul
						li
							a
								svg
									margin-left: -160px
		.latesthom
			margin-bottom: 0
		.deliver
			margin-left: -6%
			margin-top: -30px
			svg
				width: 4em
				&:active
					fill: #ff66c4
			.col-md-4
				.dropdown
					.dropdown-menu
						font-size: 12px
						margin-left: -45px
				&:nth-child(2)
					.dropdown-menu
						margin-left: -125px
				&:last-child
					.dropdown-menu
						margin-left: -235px	

		.modal-content
			.close
				left: 87%
		.review-main
			.caption
				margin-top: 0
			.owl-controls .owl-buttons .owl-prev
				margin-left: 77%
		.newsletter-mi
			margin-top: 0	
		.main-footer
			.section1-footer
				.social-footer
					margin-left: -35px
					li 
						margin: 8px 8px	-40px 0
			.registration-footer
				margin-top: -4%
				margin-left: 52%
				p 
					display: none
			.information-footer		
				.list-unstyled
					margin-left: -3px
					a 
						font-size: 12px
				.viber-footer, .telegram-footer
					margin-right: -3%
			.logo-footer
				margin-top: -5%
				margin-left: 5%
				a 
					font-size: 50px
				svg 
					margin-left: 70%		
			.reserv-footer
				left: 30%
		.ocfilter-mobile-handle
			left: -37%
		.ocf-offcanvas.active
			left: 62%
		.ocf-offcanvas
			width: 40%
/* Custom, iPhone Retina */
@media only screen and (max-width : 375px)
	html, body
		margin-top: -15px
		#search
			margin-left: -195%
		.logo
			margin-top: -20%
			margin-left: 58%	

		.phone-xs
			margin-left: 145px
			margin-top: 5px	

		.hed-menu
			margin-top: 0	
			li 
				left: 200px
	 		a 
	 			margin-left: 10px
		 		svg 
		 			margin-top: 5px
		.btn-link	
			display: block
			z-index: 100
			margin-left: -6px !important
			top: -9px 

		#cart
			button
				margin-left: -20em !important		
				top: -2px
			.btn-danger
				left: 230px !important
		.deliver 
			width: 100%	
			margin-left: -12%
			svg
				width: 4em
				&:active
					fill: #ff66c4
			.col-md-4
				.dropdown
					.dropdown-menu
						font-size: 12px
						margin-left: -45px
				&:nth-child(2)
					.dropdown-menu
						margin-left: -129px
				&:last-child
					.dropdown-menu
						margin-left: -248px	
		
		.modal-content
			.btn
				margin-left: 22%	!important

		.main-footer
			.registration-footer
				margin-top: -5%
				margin-left: 48%
			.logo-footer
				svg 
					margin-left: 30%		
			.reserv-footer
				left: 10%	
			.information-footer		
				.list-unstyled
					margin-left: -14px	

		.ocfilter-mobile-handle
			left: -41%
		.ocf-offcanvas.active
			left: 60.5%
		.ocf-offcanvas
			width: 
			left:								
/**/
@media only screen and (max-width : 360px)
	html, body
		#cart
			.dropdown-toggle
				margin-left: -21em !important	
				height: 44px
				top: 0.5% 
			
		.dropdown-menu.pull-right
			width: 67% !important
			right: 162% !important
		#search
			margin-left: -14%	!important	

				
/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

