@import "bourbon"
@import "vars"
@import "fonts"
@import "catalog/view/theme/iamtoko/stylesheet/mfp-zoom-in"
@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic)


body
	margin: 0
	padding: 0
	box-sizing: border-box
	color: #120e10 
	position: relative
	transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
	font:
		family: 'Montserrat Alternates', sans-serif
html
	overflow-x: hidden
a 
	outline: none !important	
#content
	letter-spacing: .5px
	.row
		margin-right: 0
		margin-left: 0
/*----------header------------*/
header
	.dropdown
		display: inline-block
		.login-name
			margin-left: 20px
			margin-top: 5px
			text-transform: uppercase
			font-family: 'Roboto Condensed', sans-serif
		a.dropdown-toggle
			padding: 5px 0
			display: block
			&:hover,
			&:focus,
			&:active
				text-decoration: none
	.dropdown-menu
		left: 0
		border-radius: 0	
		border: none
		> li 
		 > a 
		 	padding: 5px 20px
		 	&:hover, &:focus, &:active
		 		background-color: #fff 
		 		color: #ff66c4	
		.btn-link
			text-align: left
			line-height: 0
			padding: 0 0 20px 20px
			font:
				family: 'Montserrat Alternates', sans-serif	
 			

	.t-header
		padding: 5px 0 4px
		text-align: center
		background: #120e10 
		font: 
			family: 'Roboto Condensed', sans-serif
			size: 12px
			weight: 700
		text-transform: uppercase
		letter-spacing: 0.1px
		a
			color: #fff
			text-decoration: none
			span 
				position: absolute
				top: -9px
				left: 225px
				color: #ff66c4
				font-size: 21px
			&:hover,
			&:focus
				color: #ff66c4
		.bad div:not(:nth-child(1))
			a 
				padding-left: 15px
			&:after
				content: " "
				background: #dbdee0 
				width: 2px
				height: 20px
				float: left
				margin-right: 10px
				&:before	
					content: " "
					background: #dbdee0 
					width: 2px
					height: 20px
					float: left
					margin-right: 10px
					margin-top: -10px
	.header
		padding: 7px 10px
		padding-bottom: 0
.logo
	transform: rotate(-5deg)
	margin-left: 70px
	width: 190px
	a
		font:
			//family: 'Montserrat Alternates', sans-serif
			//weight: 600
			//size: 60px
			family: 'Sacramento', cursive
			weight: 400
			size: 50px
		color: #120e10
		outline: none
		text-decoration: none 
		&:hover,
		&:focus
			color: #ff66c4
	text-align: left
	margin-top: -25px
	svg
		margin-bottom: -55px
		margin-left: -60px
		width: 100px

.hed-menu
	font:
		family: 'Montserrat Alternates', sans-serif		
		weight: 600
		size: 12px
	text-transform: lowercase	
	margin-top: 15px
	margin-bottom: 60px
	.phone-xs
		display: none
		.social-mi-mobil
			display: inline-block
			list-style: none
		.dropdown-menu
			margin-left: -200%
	a 
		color: #120e10
		text-decoration: none
		margin-right: 20px
		&:hover,
		&:focus
			color: #ff66c4 
	span 
		margin-bottom: 20px	
		&:hover
			color: #ff66c4 	
	#form-language
		.dropdown-menu
			padding: 10px 0 0 20px
			min-width: 130px !important
			li 
				margin-bottom: 20px
		.btn-group	
			.btn-link
				display: table-cell
				padding: 0
				margin-right: 15px
				font:
					family: 'Montserrat Alternates', sans-serif	
					size: 14px
				color: #120e10
				text-transform: lowercase
				&:hover,
				&:focus
					color: #ff66c4
					text-decoration: none
				img:nth-child(1)	
					display: none		
				span
					color: #120e10
					font:
						family: 'Montserrat Alternates', sans-serif	
						size: 16px
						weight: 600
					text-transform: lowercase
					&:hover,
					&:focus
						color: #ff66c4 
						text-decoration: none
				.fa 
					font-size: 12px

.header-phone
	text-align: right
	position: absolute
	right: 3%
	top: 8%
	#button_feedback
		display: none
	a 
		color: #120e10
		text-decoration: none
		margin-right: 20px
		font:
			family: 'Montserrat Alternates', sans-serif	
			size: 16px
			weight: 600
		&:hover,
		&:focus
			color: #ff66c4 


.form-control
	&:focus
		box-shadow: none

svg
	&:hover
		fill: #ff66c4	
#search
	.form-control
		margin-top: 0
		margin-right: auto
		margin-left: 0
		height: 55px
		width: 100%
		padding-bottom: 0
		font:
			family: 'Montserrat Alternates', sans-serif	
			size: 13px
			weight: 400	
			style: italic
		text-transform: lowercase
		border: none
			radius: 0	
		box-shadow: none
		line-height: 26px
		color: #333
		background: linear-gradient(currentColor, currentColor) 50% 100% no-repeat
		background-size: 0 1px
		transition: background 250ms ease 0s
		text-decoration: none							
		&:focus
			border-bottom: 1px solid #120e10
		&:hover	
			background-size: 100% 1px

	.input-group-btn
		.btn 
			position: absolute
			padding: 10px
			border: none 
				radius: 0
			background-color: transparent	
	.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group
		margin-top: -17px
		margin-left: 0px	
div.alert.alert-success.alert-dismissible
	position: absolute
	top: 3%
	left: 50%	
	width: auto
	border-radius: 0
	height: 50px
	border: 1px solid #120e10 !important
	color: #120e10
	background-color: #fff
	z-index: 100000 
	a 
		color: #ff66c4
		font-weight: 600

/*---Cart---*/	
#cart
	margin-left: -10px
	button 
		background-color: #120e10
		color: #fff 
		border-radius: 0
		margin-top: -26px
		padding: 10px 33px 7px 25px	
		svg
			fill: #fff 
			&:hover, &:focus
				fill: #ff66c4
	.dropdown-menu
		padding: 15px
		width: 460px
	.btn-danger
		position: relative
		top: 20px				
		border-radius: 10em
		width: 20px
		height: 20px
		line-height: 0
		text-align: center
		outline: none
		padding: 0
		font-size: 12px
		background-color: #ff66c4
		border: none
/*---------menu---------------------*/
.stick
	position: relative
	top: 0
	left: 0
	height: 100%
	width: 100%
	z-index: 10001
/*----------------- button ---------*/
.text-menu
	position: absolute 
	z-index: 10001
	top: 35px
	left: 45px
	color: #120e10 !important
	font:
		family: 'Montserrat Alternates', sans-serif	
		size: 16px
		weight: 600
	outline: none	
.button-menu
	position: absolute
	top: 35px
	left: 30px
	z-index: 1000
	background: transparent
	width: 100px
	height: 100px
	overflow: hidden
	cursor: pointer
	&:hover
		cursor: pointer
.icon-menu
	width: 3em
	height: 4em
	fill: #120e10 
 
/*-------------- the close button ---------*/
.close
	position: fixed
	background: url('../image/icon-close.svg')
	top: 57px

.close 
	.icon-menu, .text-menu
		display: none

/*---------------- menu -----------*/

.menu
	position: fixed
	display: block
	font:
		family: 'Montserrat Alternates', sans-serif	
		weight: 400
		size: 16px
	top: 0
	left: 0
	bottom: 0
	z-index: 0
	width: 400px
	height: 100%
	overflow-y: auto	
	overflow-x: hidden	
	scrollbar-color: #ff66c4 #120e10
	scrollbar-width: thin
	padding-left: 0
	transform: translateX(-150%)
	transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
	transition-delay: .1s
	background: #120e10 
	nav 
		ul
			margin: 0
			padding: 20px 0
			list-style: none
			li 
				margin: 0
				padding: 0
				a 
					color: #fff 
					text-decoration: none
					display: block
					padding: 10px 20px
					padding-left: 120px
					transform: translateX(0px)
					transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
					&:hover, &:focus, &:after
						background: rgba(255, 102, 196, .7)
						transform: translateX(20px)


/*-- class of show and hide the menu --*/
body.nav_is_visible
		transform: translateX(300px)
body.nav_is_visible .menu 
 			transform: translateX(-100%)

/*sub menu*/	
.menu
	nav 
		ul 
			li 
				.relative-contact, .relative-catalog
					position: relative
				.clos-sort, .clos-sort-plus, .collapsed, .btn-menu-menu, .btn-catalog-menu 
					transform: none !important
					transition: none !important
					color: #fff
					outline: none !important
					background-color: transparent !important
					&:hover, &:focus
						color: #fff !important
				.collapsed:before,
				.collapsed:after,
				.clos-sort:before,
				.clos-sort:after,
				.clos-sort-plus:before,
				.clos-sort-plus:after
					padding: 0 5px
					right: 20px
				.collapsed:before,
				.collapsed:after
					display: block
					position: absolute
					content: '-'
					top: 10%
				.collapsed:after
					background-color: transparent 
					right: 40px
					top: 10.5%
				.clos-sort-plus:before,
				.clos-sort-plus:after
					position: absolute
					content: '+'
					top: 10%
				.clos-sort-plus:after, .clos-sort:after
					background-color: transparent	
					right: 40px
					top: 10.5%
				.clos-sort:before	
					right: 20px
					top: 10%

.sub-menu
	background: #fff
	border-right: 1px solid #120e10 
	width: 398px
	font:	
		weight: 600
		size: 14px	
	line-height: 0.1	
	overflow-y: auto	
	overflow-x: hidden	
	scrollbar-color: #ff66c4 #120e10
	scrollbar-width: thin
	> li 
		margin-top: -5px !important 
		> a
			color: #120e10 !important
			outline: none 
			transform: none !important
			transition: none !important
			&:hover, &:focus
				background-color: transparent !important
				color: #ff66c4 !important
		> ul 
			font:
				weight: bold !important
				size: 14px
			> li 
				margin-bottom: -3px	
				> a 
					&:hover, &:focus
						background-color: transparent !important
						color: #ff66c4 !important
	.category-new, .category-sale
		font-size: 16px
		text-transform: uppercase
		padding-bottom: 20px
.submenu-c .collapse
	height: 0 !important
.sub-menu-c
	border-top: 1px dotted #fff
	border-bottom: 1px dotted #fff
	font:	
		weight: 400
		size: 14px
	line-height: 0.5		
	overflow: hidden	
	scrollbar-color: #ff66c4 #120e10
	scrollbar-width: thin
	> li 
		> a
			transform: none !important
			transition: none !important
			&:hover, &:focus
				background-color: transparent !important
				color: #ff66c4	

.category-main
	font-weight: 600

.category-child
	> a 
		color: #120e10 !important
		font-weight: 200			
		transform: none !important
		transition: none !important
		outline: none
		&:hover, &:focus
			background-color: transparent !important
			color: #ff66c4
	

.social-mi
	margin-left: 120px
	margin-top: 30px
	list-style: none
	div
		a 
			outline: none
	svg 
		fill: #fff
		&:hover, &:after 
			fill: #ff66c4

.sub-menu-c
	li
		a 	
			transform: none !important
			transition: none !important
			outline: none
			&:hover, &:focus
				background: transparent !important

.icon-instagram
	margin-bottom: 20px

a.active 
	color: #ff66c4 !important

/*---------слайдер---------*/
.swiper-viewport
	border: none !important
	box-shadow: none !important
	border-radius: 0	
	margin-top: -50px !important
	margin-bottom: 0
	width: 100% !important
	margin-right: 0
	margin-left: 0
.swiper-slide img
	display: block
	max-width: 100%
	height: auto

/*---banner hom---*/	
.bannerhom
	position: relative
	video 
		width: 920px
		height: auto	
	.video__mask
		position: absolute
		top: 0
		left: 1.5%
		right: 0.2%
		bottom: 0.5%
		transition: background .5s ease .5s
	div .img__mask
		position: absolute
		top: 0
		left: 1.8%
		right: 1.8%
		bottom: 0
		transition: background .5s ease .5s
	.new-sale
		display: block
		color: #fff	
		font-size: 0	
	.new-sale:hover .bannerhom-title, .nev-sale:hover img, .new-sale:hover video
		visibility: visible
		padding: 0
		box-sizing: inherit
		font-size: 14px
	.new-sale:hover .img__mask, .new-sale:hover .video__mask
		background: rgba(0, 0, 0, 0.25)
	.new-sale:hover h2
		font-size: 30px	
	.video__mask:hover, .img__mask:hover	
		background: rgba(0, 0, 0, 0.25)
	.new-sale-new
		margin-bottom: 10px
		a:nth-child(3)
			display: none
	.new-sale-sale
		margin-bottom: 10px
		a:not(:nth-child(2))
			display: none

.bannerhom-title
	display: block
	position: absolute
	text-align: center
	top: 40%
	left: 0
	right: 0
	transition: all .6s ease .5s
	transform: (-50%, -50%)
	visibility: hidden
	h2
		font-family: 'Roboto Condensed', sans-serif
		text-transform: uppercase
		font-size: 0
		transition: font-size .7s ease 0.008s
	div
		text-transform: lowercase
		text-decoration: underline
		&:hover
			text-decoration: none	

/*---banner tab---*/
.bannertab	
	position: relative
	width: 50% !important	
	margin-top: 40px		
	.nav-tabs
		text-align: center
		border-bottom: none
		margin-bottom: 20px
		li:not(:first-child)
			border-left: 1px solid #000				
		> li	
			float: none
			display: inline
			margin-bottom: 1em
			margin-right: 1em
			text-align: center	
			&::after, &::before 
				box-sizing: none
			> a 
				border: none
				border-radius: 0 
				color: #000	
				display: table-cell
				transform: none
				padding: 0 
				padding-left: 20px
				text-transform: lowercase
				font:
					size: 1.2em
					weight: 600
				outline: none	
				&:hover
					text-decoration: underline
					background-color: transparent
	.tab-content
		.tab-pane
			> img 
				height: 100%
	.nav-tabs > li.active > a
		text-decoration: underline
		background-color: transparent
		color: #000
		transform: none
		border: none
		&:hover
			text-decoration: underline
	.button-tab
		color: #fff
		font-weight: 600
		font-size: 1.5em
		text-align: center
		text-decoration: underline
		text-transform: lowercase
		transition: background-color .25s ease
		&:hover, &:focus
			text-decoration: none	
			color: #fff
		animation-duration: 1s
		animation-delay: 2.5s	

#tab-best
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
	div:not(:nth-child(1)):not(.slideDown):not(.bounceIn):not(.button-best):not(.slideUp):not(.flipInY)
		display: none
		position: relative
	img
		width: 100%
		margin-right: 0
		margin-left: auto
	a 
		color: #fff
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .3)
		text-decoration: none
		outline: none
		font:
			size: 1em	
		text-transform: lowercase
		letter-spacing: .1em
	.slideDown
		position: absolute
		top: 20%
		left: 28%
		padding: 0 .2em
		font:
			family: 'Roboto Condensed', sans-serif			
			weight: 400
			size: 3.3em	
		text-transform: uppercase	
		animation-duration: .8s
		span 
			color: #ff66c4
	.buyer
		position: absolute
		top: 50%
		left: 24.5%
		padding: 0 .1em
		font:
			family: 'Roboto Condensed', sans-serif
			weight: 400
			size: 3em	
		text-transform: uppercase
		letter-spacing: .04em	
		animation-duration: 1s
		animation-delay: .5s	
	.heart
		position: absolute
		top: 33.1%
		left: 43%
		font-size: 4em
		color: #f294c8
		padding: .1em .4em 0 .4em
		animation-duration: 1.1s
		animation-delay: 1.5s	
	.button-best
		position: absolute
		top: 78%		
		left: 38%
		width: 17%
		right: 50%
		padding: 2px 4ps 4px 4px
		color: #fff

#tab-colection
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
	position: relative
	div:not(:nth-child(2)):not(.bounceIn):not(.slideRight):not(.slideLeft)
		display: none	 
	img 
		width: 100%
	a 
		color: #fff
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .3)
		text-decoration: none
		outline: none
		font: 
			family: 'Roboto Condensed', sans-serif
			weight: 200
		text-transform: uppercase
	.col-top
		position: absolute
		top: 10%
		font-size: 4em	
	.col-top3
		left: 50%
		animation-duration: 1s
		animation-delay: 1.5s
	.col-top2
		left: 40% 
		animation-duration: 1s
		animation-delay: 1s	
	.col-top1
		left: 35% 
		animation-duration: 1s
		animation-delay: .5s		
	.col-top4
		left: 55% 
		animation-duration: 1s
		animation-delay: 2s	
	.col-top5
		position: absolute
		top: 30%
		left: 13%
		font-size: 4em
		animation-duration: 2s
		animation-delay: 2s		
	.col-top6
		position: absolute
		top: 42%
		left: 9%
		font-size: 3.6em	
		animation-duration: 2s
		animation-delay: 3s
		span 
			color: #ff66c4
			font-size: 1.06em	
	.col-top7
		position: absolute
		top: 53%
		left: 28%
		font-size: 4.7em	
		animation-duration: 2s
		animation-delay: 4s							
	.button-col
		position: absolute
		top: 83%
		left: 32%
		padding: 0 .5em .25em .5em
		text-transform: lowercase
		font-family: 'Montserrat Alternates', sans-serif
		font-size: 1.5em
		font-weight: 400
		animation-duration: .5s
		animation-delay: 6s

#tab-bigsize
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
	div:not(:nth-child(3)):not(.bounceIn):not(.slideRight):not(.slideLeft)
		display: none	 
		position: relative
		width: 100%	
	a 
		color: #fff
		text-decoration: none
		display: block
		width: 100%
		outline: none
		font:
			family: 'Roboto Condensed', sans-serif
			weight: 200
			size: .8em
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
	.slideRight, .slideLeft
		position: absolute
		top: 30%
		font-size: 5.1em
	.slideRight
		left: 18%
		animation-duration: 2s
	.slideLeft
		right: 18%
		color: #ff66c4
		animation-duration: 2s	
	.bounceIn
		position: absolute
		top: 43%
		left: 37.5%
		font-size: 7em
		animation-duration: 1s
		animation-delay: 2s
	.button-col
		top: 70%
		left: 30%
		padding: 0 .8em .2em 0.8em
		font-size: 2em
		font-family: 'Montserrat Alternates', sans-serif
		font-weight: 400	
		animation-duration: .5s
		animation-delay: 3s

#tab-blog	
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
	position: relative	
	div:not(:nth-child(4)):not(.bounceIn):not(.slideRight):not(.slideLeft):not(.flipInY):not(.button)
		display: none
	.img-news
		position: absolute
		top: 0
		animation-duration: 2s
	.img-article
		position: absolute
		top: 33.3%
		animation-duration: 2s
	.img-advice
		position: absolute
		top: 66.7%
		animation-duration: 2s	
	a 
		color: #120e10 
		text-decoration: none
		display: block
		outline: none		
	.flipInY
		font:
			family: 'Roboto Condensed', sans-serif
			weight: 400
			size: 1.8em
		position: absolute
	.news
		top: 10%
		left: 5%
		animation-duration: 1.2s
		animation-delay: 2s
	.text-news
		position: absolute
		width: 18%
		top: 15%
		left: 5%
		animation-duration: 1s
		animation-delay: 3s
	.button-news
		position: absolute
		top: 28%
		left: 13%
		font-size: 1em
		font-weight: 600
		animation-duration: 1s
		animation-delay: 4s
		a 
			&:hover
				color: #ff66c4 
	.article
		top: 40%
		left: 5%
		animation-duration: 1.2s
		animation-delay: 5s
	.text-article
		position: absolute
		width: 18%
		top: 45%
		left: 5%	
		animation-duration: 1s
		animation-delay: 6s
	.button-article
		position: absolute
		top: 57%
		left: 13%
		font-size: 1em
		font-weight: 600
		animation-duration: 1s
		animation-delay: 7s
		a 
			&:hover
				color: #ff66c4	
	.advice
		top: 70%
		left: 5%
		animation-duration: 1.2s
		animation-delay: 8s
	.text-advice
		position: absolute
		width: 18%
		top: 75%
		left: 5%
		animation-duration: 1s
		animation-delay: 9s	
	.button-advice
		position: absolute
		top: 86%
		left: 13%
		font-size: 1em
		font-weight: 600
		animation-duration: 1s
		animation-delay: 10s
		a 
			&:hover
				color: #ff66c4
	.button-blog
		position: absolute
		top: 81%
		left: 39%
		color: #120e10
		background-color: rgba(255, 255, 255, .7)
		border: 2px solid #120e10
		padding: .01em 1.5em .02em 1.5em
		font-size: 1.1em
		font-family: 'Montserrat Alternates', sans-serif	
		animation-duration: .5s
		animation-delay: 11s
		&:hover
			background-color: rgba(255, 255, 255, .5)
/*---------Collection---------*/
.bannerhomcol
	width: 100%
	display: flex
	margin-top: 40px
	img
		padding: 10px
	.img__mask
		position: absolute
		top: 2% !important
		left: -5%
		right: 0
		bottom: 2.3% !important
	a:hover img__mask
		background: rgba(0, 0, 0, 0.25)
	.ban-collection
		position: relative
	.bannerhom-title
		position: absolute	
	h2
		transition: font-size .7s ease 0.008s

/*---------delivery---------*/
.deliver
	display: flex
	justify-content: center
	width: 100%
	height: 200px
	padding: 0 
	.dropdown:last-child
		.dropdown-menu
			left: -50%
	.dropdown-menu
		width: 28em
		top: 50%
		border-radius: 0 
		border: none
		left: 0
		ul 
			list-style-type: none			
			> li 
				padding: 20px 20px 10px 0	
	h2
		display: none	
	a 
		&:hover, &:focus, &:active
			text-decoration: none		
	.dropdown-toggle
		display: flex
		position: relative
		margin-left: 10px
		margin-right: 10px
		align-content: space-between
		align-items: center
		width: 80%
		.icon-hom-text
			margin-left: 20px
			color: #000000
			text-transform: lowercase
			font-weight: 600
			&:hover, &:focus
				color: #ff66c4
		svg 
			display: block
	

		
/*---------все продукты---------*/

.new-element-bal
	.caption
		h4 
			height: 28px !important	

.product-layout
	position: relative	
	padding: 0
	&:hover .option 
		display: block
	&:hover .toclick
		display: block	
	&:hover button:nth-child(1)
		display: block	
	&:hover .hover-img
		background-color: rgba(0, 0, 0, .3)				
	> .product-thumb
		margin-right: 10px
		padding: 0
		text-align: center
		margin-bottom: 20px				
		.image
			padding: 0 !important
			position: relative					
		.hover-img
			width: 100%
			height: 140px
			position: absolute
			bottom: 1.3%		
	.options
		position: absolute
		top: 63%
		left: 5%
		right: 5%	
		z-index: 1000																	
	.option
		display: none
		.checkboxing
			display: inline-block							
			color: rgba(255, 255, 255, .7)
			border: 2px solid rgba(255, 255, 255, .7)
			padding: 5px 9px 0 9px
			margin-right: 5px
			font:
				family: 'Tavolga', sans-serif
				size: 1.1em
				weight: normal
		input[type=checkbox] 
			position: absolute
			z-index: -1
			opacity: 0		
	.caption
		position: relative						
		p 
			display: none
			&.price
				display: block
				text-align: left
				margin-top: -10px
				font:
					weight: 600
					size: 16px
					family: 'Roboto Condensed', sans-serif
			.price-tax
				display: none	
			.price-old
				font-size: 14px
				font-weight: 400
				text-decoration: line-through 					
		.rating
			display: none	
	h4
		text-align: left
		a 
			color: #000
			display: block
			height: auto
			width: 89%
			overflow: hidden
			text-decoration: none
			outline: none
			font:
				weight: 500
				size: 12px																																	
	.button-group	
		margin-bottom: 40px
		> *
			&:nth-child(3)
				display: none
			&:nth-child(1)
				position: absolute
				z-index: 1000
				top: 73%
				margin-left: 23% 
			&:nth-child(2)
				position: absolute
				right: 20px
				top: 86%
	button 
		&:nth-child(1)
			display: none	
			text-align: center
			border: none
			background-color: #120e10 
			color: #fff
			padding: 8px 45px
			font:
				weight: 400
				size: 16px			
			transition: background-color .25s ease
			outline: none
			&:hover, &:active, &:focus
				background-color: lighten(#120e10, 10%) 
			.fa			
				display: none
		&:nth-child(2)
			border: none
			background-color: transparent
			outline: none
			&:hover, &:active
				color: #ff66c4									
.toclick
	color: #000
	text-decoration: none
	display: none
	position: absolute
	top: 35%
	text-align: center
	background-color: rgba(255, 255, 255, .3)
	padding: 5px 20px
	margin-left: 12%
	margin-right: auto
	&:focus, &:hover
		text-decoration: none
		color: #000
		background-color: rgba(255, 255, 255, .2)	
.product-layout
	.modal-content
		button:nth-child(1)
			background-color: transparent
			display: block
			color: #000
			font-size: 20px
			left: 67%
			top: 1%
		.modal-body
			top: 20%
		textarea 
			margin-top: 20px

/*---------витрина на главной---------*/	
h3
	display: block
	text-align: center
	margin-top: -10px
	text-transform: uppercase
	font:
		family: 'Roboto Condensed', sans-serif
		weight: 400
		size: 2em		
.latesthom
	display: block
	top: 90px
	margin-bottom: 120px !important
	.latesthom-button 
		display: block
		text-align: center
		margin-bottom: 30px	
		text-decoration: none
		outline: none
		color: #120e10 
		font-size: 1em
		text-transform: lowercase
		text-decoration: underline
		&:hover, &:focus
			color: #ff66c4				
	.product-layout
		&:hover .toclick
			display: none !important
		> .product-thumb 	
			.hover-img
				bottom: 0			
	.button-group	
		margin-bottom: 40px
		> *
			&:nth-child(1)
				top: 82%
				margin-left: 28% 		
			&:nth-child(2)
				top: 94%
	.options
		top: 72%
	.toclick
		display: none				
/*---------Отзывы на главной---------*/
.container-rewiev
	text-align: center
	box-shadow: -1px 41px 41px 17px rgba(0, 0, 0, 0.02)
	height: auto
	margin-bottom: 80px
	.swiper-pager
	.swiper-button-next, .swiper-button-prev
		opacity: 1 !important
		margin-left: 10px
		&:before, &:after
			font-size: 12px 		
			border-radius: 10em
			width: 20px
			height: 20px
			line-height: 0
			text-align: center
			outline: none
			padding: 3px 3px 2px 5px
			background-color: rgba(255, 255, 255, .8)
			border: none
	.swiper-button-next
		&:before, &:after
			margin-left: -15px !important
	.swiper-button-prev
		&:before, &:after
			padding: 3px 5px 2px 3px	
	.btn
		color: #000000
		text-decoration: underline
		text-transform: lowercase
		&:hover 
			text-decoration: none
.review-main
	margin-top: 20px
	.swiper-slide
		height: auto
	.wrap-rewiev
		display: flex
		position: relative
	.title-right-rewiev
		margin-top: 20%	
	.item, .pm-review-thumb
		border: none
		width: 100%
		margin-left: 0 !important
	.title-right-rewiev
		text-align: left
		color: #383838
		p 
			&:first-child
				font-size: 0.9em
			&:not(:first-child)
				font-size: 12px					
		strong
			font:
				family: 'Roboto Condensed', sans-serif
				size: 16px
			text-transform: lowercase
			letter-spacing: .05em
			color: #383838	
		.rating
			margin-top: 5px
			text-align: left
			.fa-star + .fa-star-o
				color: #000 !important
			.fa-star
				color: #ff66c4 !important
			.fa-stack-2x
				font-size: 1em
			.fa-stack
				margin: 0
				width: 1em
				text-align: left !important			
	.pm-review-thumb
		width: 50%
		img 
			margin: 0
			text-align: left 
			display: block
			position: relative
		h4
			text-align: left
			margin-top: 5px
			font:
				weight: 600
				size: .9em
			a 
				color: #383838

	.avatar
		border-radius: 100px
	.caption
		margin-top: -20px
		margin-bottom: 30px
		p 
			font-size: 13px
			opacity: .8
		a 
			display: block
			color: #000
			border: none
			border-radius: 0
			background: transparent
			text-decoration: none
			position: absolute
			font-weight: 600
			padding: 0
			font-size: 1em
			left: 20px
			&:hover, &:focus
				color: #ff66c4 !important	

		
/*---------Скролл вверх---------*/		
.scrollup
	display: none
	position: fixed
	color: #fff
	background-color: rgba(148, 146, 158, .2)
	padding: 4px 10px
	bottom: 0
	right: 20px
	font-size: 20px
	text-align: center
	transition: background-color .25s
	transition: background-color .25s, opacity .5s, visibility .5s
	cursor: pointer
	z-index: 10000
	&:hover
		background-color: rgba(255, 102, 196, .8)
/*---------Coolback---------*/
.modal-content
	background-color: #fff
	max-width: 360px
	margin: auto
	padding: 15px 40px
	margin-top: 50%	
	border-radius: 0
	.alert	
		border-radius: 0
	img 
		width: 100%	
	.close
		left: 75%
		top: 5%
	.success
		position: absolute
		z-index: 1
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: #fff
		text-align: center
		text-transform: uppercase
		padding: 55% 10% 10%
		font:
			family: 'Roboto Condensed', sans-serif
			size: 18px
		display: none	
	h3 
		margin:
			top: 15px
			bottom: 15px
		font:
			weight: 600
			family: 'Roboto Condensed', sans-serif	
		letter-spacing: .3px	
		text-transform: uppercase
		text-align: center
	p 
		text-align: center
		margin-bottom: 15px
		span 
			font-weight: 600
	.btn 
		left: 0
		right: 0
		bottom: 0
		border-radius: 0
		transition: background-color, border-color .25s ease
		background-color: rgba(255, 102, 196, 1)
		border-color: rgba(255, 102, 196, 1)
		margin-left: 26%
		&:hover, &:focus
			background-color: rgba(255, 102, 196, .8)
			border-color: rgba(255, 102, 196, .8)
	
/*---------Form---------*/	
.form-control
	border-radius: 0

/*---------Newsletter Subscribe---------*/	
.newsletter-mi
	margin-top: 0
	h2 
		font:
			family: 'Roboto Condensed', sans-serif
			weight: 400
		letter-spacing: 1.3px	
		text-transform: lowercase
		margin-bottom: 30px
	p	
		font-weight: 400
		font-size: 14px
		text-transform: lowercase
		letter-spacing: 1px
		line-height: 1
	a 
		text-decoration: underline
		color: #000
		&:hover
			color: #ff66c4	
			text-decoration: none

.newsletter_module
	margin-top: 50px
	margin-bottom: -10px
	width: 100%
	height: auto
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	position: relative
	.input-group-home
		width: 300px !important
		margin-top: 0 !important
		input 
			position: relative
	.input-group-addon:last-child
		border-radius: 0
	svg 
		position: absolute
		width: 30px	
		padding: 0
		margin: 0
		top: 0
	.input-group-addon
		background-color: transparent
		padding: 0
		line-height: 0
		border: none
		font-weight: 0	
	.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle)	
		border: none
		box-shadow: none
		border-bottom: 2px solid #120e10
		text-transform: lowercase
	.text-danger
		z-index: 1000
		color: #ff66c4 
		display: block
		background-color: #fff
		box-shadow: 0 6px 12px rgba(0,0,0,.175)
		width: auto
		padding: 30px 50px
		position: absolute
	.text-success
		display: block
		z-index: 1000
		box-shadow: 0 6px 12px rgba(0,0,0,.175)
		background-color: #fff
		margin: 0
		padding: 30px 40px
		color: #120e10	
		width: auto
		position: absolute

/*---------Кнопка перезвоним---------*/	
#form-callbackfooter-footer
	.col-sm-12
		margin-bottom: 20px	
	.col-sm-12:first-child
		margin-top: 15px
.button-coll-side
	position: fixed
	display: none
	transform: rotate(90deg)
	transform-origin: right top 0
	right: 20px
	padding: 0
	padding-left: 20px
	bottom: 35%
	z-index: 1000
	color: #ffffff
	background-color: #ff66c4
	font-size: 14px
	letter-spacing: 1px
	font-weight: 500
	text-transform: lowercase
	height: auto
	outline: none	
	&:hover
		background: darken(#ff66c4, 5%)
		color: #fff
		.fa
			-webkit-animation: wiggle .05s alternate ease infinite
			animation: wiggle .05s alternate ease infinite
			background: transparent	
	&:active,
	&:focus 
		background: darken(#ff66c4, 10%)
		color: #fff
	.fa 
		background: darken(#ff66c4, 5%)
		font-size: 20px
		padding: 6px	9px
		margin-left: 15px
		transform: rotateY(-180deg)
		
@-webkit-keyframes wiggle 
	from 
		-webkit-transform: rotate(0deg)
	to 
		-webkit-transform: rotate(-30deg)		
/*---------Кнопка подарок Скидка---------*/	
.sale-popup, .news-popup
	max-width: 320px
	position: relative
	margin: auto
	img 
		width: 320px
		display: block
		position: relative
	.left-salepopup, .left-newspopup
		position: absolute
		top: 10%
		left: 35%
		width: 25%
		text-transform: uppercase
		font: 
			family: 'Roboto Condensed', sans-serif
			weight: 400	
			size: 20px
	.left-newspopup
		font-size: 16px
		left: 5%
		width: 35%
		text-transform: lowercase		
	.bottom-salepopup, .bottom-newspopup
		position: absolute
		top: 30%
		width: 60%
		left: 35%
		font:
			family: 'Hitch Hike', sans-serif
			size: 30px
	.bottom-newspopup
		font-size: 19px
		left: 5%
		width: 90% 	
		top: 32%	
	.button-salepopup, .button-newspopup, .button-newspopup-see
		position: absolute
		top: 70%
		left: 31.5%
		a 
			color: #ffffff
			background-color: rgba(0, 0, 0, 1)
			border-color: rgba(0, 0, 0, 1)
			transition: background-color, border-color .25s ease
			padding: 10px
			text-transform: lowercase	
			text-decoration: none
			outline: none
			&:hover, &:focus
				background-color:	rgba(0, 0, 0, .8)	
				border-color:	rgba(0, 0, 0, .9)	
	.button-newspopup
		top: 45%
		a
			padding: 8%
	.button-newspopup-see
		top: 85%
		left: 24%
		a
			padding: 5px 10px
			background-color: rgba(242, 148, 200, 1)
			border-color: rgba(242, 148, 200, 1)
			transition: background-color border-color .25s
			&:hover, &:focus
				background-color: rgba(242, 148, 200, .8)
				border-color: rgba(242, 148, 200, 1)
.button-sale-popup
	bottom: 25%
	transform: rotate(0)
	padding: 0
	height: 44px
	right: 1%		
	.fa
		margin: 0
		padding: 6px 6px 5px 6px 
		svg
			fill: #ffffff
			width: 22px
/*---------Footer---------*/	
.main-footer
	margin-top: 50px
	margin-left: 10px
	margin-right: 10px
	.section1-footer
		background-color: #120e10 
		height:
		.social-footer
			list-style: none
			display: inline-block
			margin-left: 30px
			li 
				float: left
				margin: 5px 40px -35px 0
				a 
					outline: none
					text-decoration: none
				svg 
					fill: #fff
					width: 20px
					&:hover, &:focus
						fill: #ff66c4
	.registration-footer
		color: #fff
		display: inline-block
		margin-left: 28%
		margin-top: 1%
		letter-spacing: 1.8px
		font:
			family: 'Roboto Condensed', sans-serif
			size: 16px
		.login-name
			text-transform: uppercase	
		p 
			float: left	
		a 
			text-decoration: none
			outline: none
			color: rgba(255, 102, 196, 1)
			transition: color .25s
			margin-left: 20px
			&:hover, &:focus 
				color: rgba(255, 102, 196, .6)
	.section2-footer
		background-color: #dbdee0
		position: relative
		.menu-footer
			list-style: none
			display: inline-block
			margin: 20px 0 -5px 30px
			li 
				float: left
				margin-right: 100px
				a 
					text-decoration: none
					outline: none
					color: #120e10 
					font:
						weight: 600
						size: 16px
					&:hover, &:focus
						color: #ff66c4	
	.information-footer
		margin-left: 55px
		h5
			font:
				family: 'Roboto Condensed', sans-serif 
				weight: 800
				size: 14px
			letter-spacing: 1px	
			text-transform: uppercase
		a 
			text-decoration: none
			outline: none
			color: #120e10 
			line-height: 1.7
			&:hover, &:focus
				color: #ff66c4	
		.footer-phone
			font-weight: 600
	.viber-footer, .telegram-footer
		margin-top: 15px
		margin-right: 30px
		float: left
	.logo-footer
		transform: rotate(-5deg)
		margin-left: 70px
		width: 190px
		text-align: center		
		a 
			font:
				family: 'Sacramento', cursive
				weight: 400
				size: 120px
			color: #94929e 
			outline: none
			text-decoration: none 
			&:hover,
			&:focus
				color: #ff66c4
		text-align: left
		margin-top: 50px
		padding: 0
		svg
			position: absolute		
			top: 80% 
			width: 100px 
	.reserv-footer
		position: absolute
		top: 120%
		right: 20px

/*---------Форма регистрации попап---------*/		
.content
	background-color: #fff
	position: relative
	max-width: 320px
	
	margin: auto
	padding: 15px
	top: 25%
	.social-registration
		position: relative
		width: 100% 
		height: 40px
		margin-top: 30px
		font:
			family: 'Roboto Condensed', sans-serif
			size: 18px
	.social-icons
		display: inline-block
		position: absolute	
		right: 0
		top: 0	
		li 
			list-style: none
			float: right
			margin-left: 20px
			svg
				fill: #94929e
				&:hover, &:focus
					fill: #ff66c4
	.registration-sub
		h3
			text-align: center
			font:
				family: 'Roboto Condensed', sans-serif
			margin-bottom: -10px
		a 
			color: #ff66c4
			font-weight: 600	
		br 
			margin-bottom: 10px 	
		.smile
			text-align: center
			font-weight: 600	
		span
			font-size: 12px	
			br
				margin-bottom: 0
	.login-form
		.form-group
			margin-top: 25px	
			margin-bottom: 25px
		#loginBtn
			border-radius: 0
			color: #ffffff
			font-weight: 400
			font-size: 18px 
			text-transform: lowercase
			outline: none
			transition: background-color, border-color .25s ease
			background-color: rgba(148, 146, 158, .7)
			border-color: rgba(148, 146, 158, .7)
			&:hover, &:focus
				background-color: rgba(148, 146, 158, .5)
				border-color: rgba(148, 146, 158, .5)
		.forget-password
			color: #120e10 
			margin-left: 23%
			text-decoration: underline
			&:hover, &:focus
				text-decoration: none
		.block-title
			display: inline-block
			width: 100%
			text-align: center
			font:
				family: 'Roboto Condensed', sans-serif
				size: 18px
				weight: 400
			color: #ffffff
			text-transform: uppercase
			.sign-in, .create-account
				text-align: center
				padding: 10px
			.sign-in
				background: #ff66c4
			.create-account
				background: #120e10
				a
					color: #fff 
	.register-form
		.block-title
			display: inline-block
			text-align: center
			width: 100%
			font:
				family: 'Roboto Condensed', sans-serif
				size: 18px
				weight: 400
			color: #ffffff
			text-transform: uppercase
			#register-back-btn, .create-account
				width: 50%
				padding: 10px
			#register-back-btn
				border-radius: 0
				background: #120e10
				font-size: .95em 
				&:hover, &:focus
					color: #ffffff
					text-decoration: underline
			.create-account
				background: #ff66c4
		p 
			font-size: 12px
			text-align: center
			margin-top: 10px
			margin-bottom: 15px
		.mt-checkbox
			font-weight: 400
			font-size: 12px
			a 
				color: #ff66c4
		#register-submit-btn
			border-radius: 0
			position: relative
			left: 50%
			transform: translate(-50%, 0)
			font-weight: 400
			font-size: 18px 
			text-transform: lowercase
			outline: none
			transition: background-color, border-color .25s ease
			background-color: rgba(148, 146, 158, .7)
			border-color: rgba(148, 146, 158, .7)
			&:hover, &:focus
				background-color: rgba(148, 146, 158, .5)
				border-color: rgba(148, 146, 158, .5)
	.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label
		color: #ff66c4 
	.has-error .form-control
		border-color: #ff66c4	
	.forget-form
		h3 
			font-family: 'Roboto Condensed', sans-serif
			text-align: center
		.form-group
			margin: 20px 0
		button
			border-radius: 0
			color: #ffffff
			text-transform: lowercase
			font-size: 18px
		#back-btn
			background-color: rgba(0, 0, 0, 1)
			transition: background-color, border-color .25s ease
			font-size: 17px
			&:hover, &:focus
				background-color: rgba(0, 0, 0, .8)
				border-color: rgba(0, 0, 0, .8)
		#forget-submit-btn
			background-color: rgba(255, 102, 196, 1)
			border: rgba(255, 102, 196, 1)
			transition: background-color, border-color .25s ease
			&:hover, &:focus
				background-color: rgba(255, 102, 196, .8)
				border-color: rgba(255, 102, 196, .8)				
	.alert-success, .alert-danger
		border-radius: 0
.login .content .forget-form,
.login .content .register-form
	display: none


/*---------КАТЕГОРИИ---------*/	
.breadcrumb
	padding: 0
	margin: 0
	background-color: transparent	
	border-radius: 0	
	li
		a 
			font-family: 'Montserrat Alternates', sans-serif

#product-category
	h1 
		font:
			family: 'Roboto Condensed', sans-serif
			weight: 600
			size: 26px
		text-transform: lowercase
		letter-spacing: 1.1px
		text-align: center	
		margin-top: 60px
	/*---------Баннер вверху---------*/		
	.swiper-viewport
		margin: 0
	.swiper-viewport .swiper-container 
		margin-top: 60px
		width: 99%
		height: auto
	.swiper-slide > * img	
		box-sizing: border-box
		transition: all 1s ease		
		&:hover
			filter: opacity(75%)
	a 
		text-decoration: none		
	.title-cat-ban
		color: #000
		font:
			weight: 600
			size: .9em
		text-transform: lowercase
		letter-spacing: .7px
	.swiper-pager
	.swiper-button-next, .swiper-button-prev
		opacity: 1	
		margin-left: 10px
		&:before, &:after
			font-size: 12px 		
			border-radius: 10em
			width: 20px
			height: 20px
			line-height: 0
			text-align: center
			outline: none
			padding: 3px 3px 2px 5px
			background-color: rgba(255, 255, 255, .8)
			border: none
	.swiper-button-prev
		&:before, &:after
			padding: 3px 5px 2px 3px

	/*---------Новинки со скидкой---------*/
	.ban-top-cat
		display: block
		height: auto
		margin: 0
		background-color: #f294c8
		font-size: .9em !important
		padding: 1.2em 0
		color: #fff
		a 
			color: #ffffff
			outline: none
			text-decoration: underline
			&:hover
				text-decoration: none !important
	/*---------Боковое меню---------*/
	#column-left
		width: 15% 
		margin-left: 80px
		margin-right: -15px
	.menu-side
		margin-top: 20px
	.menu-side-item
		font-weight: 400
		font-size: 12px
		padding-top: 4px
		padding-bottom: 4px
		border: none
		&:nth-child(2)
			margin-top: 15px  
		&:first-child, &:last-child	
			border-radius: 0
		&:first-child	
			font-size: 14px
		&:hover, &:focus
			background-color: #000 !important
			color: #fff
	.button-sub-menu-left
		position: relative
		border-top: 1px solid #ddd
		height: 60px
		.clos-sort
			&:after, &:before
				right: 15px
				top: 30%
		span
			padding-left: 15px
			display: block
			position: absolute
			top: 35%
			font-size: 14px
			font-weight: 600
	#sub-menu-left
		margin-top: 0
		.menu-side-item:first-child
			font-size: 12px !important
			margin-bottom: -15px 
	.active
		background-color: #000 !important
		padding-top: 2px
		padding-bottom: 2px
		color: #fff !important
	#content		
		padding-right: 15px
		padding-left: 15px
		hr 
			width: 100%
			height: 1px
		p 
			margin-bottom: 40px	
		.review-main
			margin-top: -20px
		.newsletter-mi
			margin-top: -20px			
		#list-view, #grid-view, #compare-total, .input-limit, #input-limit
			display: none	
		.input-group-addon
			border-radius: 0
			border: none
			background-color: transparent
			font-weight: 600
			text-transform: lowercase
			letter-spacing: .7px
			font-size: 14px
		.input-group .form-control
			width: 95%
			text-transform: lowercase
			letter-spacing: .3px
		.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn
			border-radius: 0
		.form-control
			box-shadow: none
		.input-group-sm > .form-control, .input-group-sm
			position: relative

	
 /* сортировка */
	label 
		font-size: 12px !important
		display: inline-flex 
		align-items: center 
		user-select: none
.radio-cat
	&:nth-child(2), &:nth-child(3),
	&:nth-child(8), &:nth-child(9),
	&:nth-child(10), &:nth-child(11)
		display: none !important

 /* для элемента label связанного с .custom-radio */
.custom-radio 
	z-index: -1
	opacity: 0
.radio-cat
	/* создание в label псевдоэлемента  before со следующими стилями */
	label
		margin-left: -30px
		&:before 
			content: ''
			display: inline-block
			width: 1.5em
			height: 1.5em
			flex-shrink: 0
			flex-grow: 0
			border: 1px solid #adb5bd
			border-radius: 50%
			margin-right: 0.5em
			background-repeat: no-repeat
			background-position: center center
			background-size: 50% 50%	
 /* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before 
    border-color: #ffd1ed
/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before 
  background-color: #ffd1ed
  border-color: #ffd1ed
  /* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before 
	border-color: #ff66c4
	background-color: #ff66c4
.custom-radio:checked + label::after 	
	content: ''
	display: inline-block
	position: absolute
	left: 19px
	width: .5em
	height: .5em
	flex-shrink: 0
	flex-grow: 0
	border: 1px solid #fff
	background-color: #fff
	border-radius: 50%
	margin-right: 0.5em
	background-repeat: no-repeat
	background-position: center center
	background-size: 50% 50%

/* баннер в категории */		
.banner-pro 
	position: relative
	text-align: center
	height: 500px
	font-size: 1.1em
	letter-spacing: .7px
	font-weight: 400	 	
	.banner-pro-section
		display: block
		position: absolute
		background-color: #fff
		box-shadow: 0 6px 12px rgba(0,0,0,.175)
		width: 95%
		padding: 10%
		padding-bottom: 0
		border-radius: 2em
		box-sizing: border-box
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		img 
			width: 120px
		h2 	
			font-family: 'Roboto Condensed', sans-serif		
			span 
				color: #ff66c4
				font-weight: 600
		p
			span
				font-weight: 600
				font-size: 1.2em
		a 
			display: block
			margin-top: -10%
			margin-bottom: 15%
			color: #000000
			text-decoration: underline !important
			font-size: .8em
			&:hover
				text-decoration: none !important
		p:last-child	
			font-size: 0.7em				


/*---------Панель открытия/закрытия в фильтрах---------*/
.container-sort
	margin-top: -10px
	.out-pan
		position: relative
		width: 190px
		span
			right: 1em
			font-weight: 600
			text-transform: lowercase
			letter-spacing: 1px
		.clos-sort:before,
		.clos-sort:after
			position: absolute
			right: 2em
			top: .1em
		.collapsed:before,
		.collapsed:after
			right: 2em
			top: .1em
	.sub-sort
		margin-top: 20px 		
.clos-sort
	color: inherit
	font-size: 20px
	font-weight: 600
	&:hover, &:focus
		color: inherit
.collapsed:before,
.collapsed:after
	display: block
	position: absolute
	content: '+'
	right: 0
	padding: 0 5px
	top: -.2em
.clos-sort:before,
.clos-sort:after,
	position: absolute
	content: '+'
	right: 0
	top: -15%
	padding: 0 5px
.clos-sort-plus:before,
.clos-sort-plus:after,
	position: absolute
	content: '-'
	right: 0
	top: -30%
	padding: 0 5px
/*---------Фильтр---------*/
#ocfilter
	top: 0
	left: -20%
	border-radius: 0
	border: none
	box-shadow: none
	.clos-sort:after, .clos-sort:before
		top: 15%
	.ocf-option-name
		position: relative
	.panel-heading
		border-bottom: none
		border-top: 1px solid #ddd
		background-color: transparent
		font-weight: 600
		color: #000
		letter-spacing: 1px
		padding: 30px 0 10px 15px
	.noUi-connect
		background: #ff66c4
		box-shadow: inset 0 0 3px #000
	.noUi-horizontal
		height: 6px
	.noUi-handle
		border-radius: 0
		height: 15px	
		width: 4px 
		left: -1px
		background: #000
		border: 1px solid #000
	.noUi-handle::after, .noUi-handle::before
		content: none	
	.ocfilter-option label.ocf-selected
		color: #ff66c4 
		font-weight: 600
	.ocfilter-option label
		collor: #000000
		font-weight: 600
	.ocfilter-option label small
		background-color: #eef0f1
		color: #2c2b30 
	.badge
		border-radius: 0	
		padding: 5px	
	button
		background-color: #ff66c4
		border-color: #ff66c4
		border-radius: 0
.ocfilter-mobile-handle
	transform: rotate(-90deg)
	.btn
		background-color: rgba(0, 0, 0, 1)
		border-color: rgba(0, 0, 0, 1)
		transition: background-color, border-color .25s ease
		text-transform: lowercase
		font-weight: 600
		letter-spacing: 1.5px
		padding-top: 2px
		&:focus, &:hover
			background-color: rgba(0, 0, 0, 7)
			border-color: rgba(0, 0, 0, 7)
.ocfilter-option-popover
	border-radius: 0
	.popover-content
		padding: 0		
		font:
			family: 'Roboto Condensed', sans-serif	
.ocfilter-mobile
	.ocfilter-option-popover
		margin-left: 40%

/*---------Форма подписки попап---------*/
.form-news-popup
	height: 120px	
	background: #fff
	max-width: 320px
	position: relative
	margin: auto
	.input-group
		width: 60%
		margin-top: 20%

/*---------Пагинация---------*/		
[data-bal="bal-results"]
	display: none
.pagination>li>a, .pagination>li>span
	color: #000
	border: none
	font-weight: 600
	&:hover, &:active, &:focus
		color: #000
		background-color: transparent !important
		border-color: transparent !important
		text-decoration: underline !important
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover	
	background-color: transparent
	color: #ff66c4
.bal-div
	position: relative	
.bal-box-next
	position: absolute
	top: 25px
	right: 0
	span 
		font-size: 12px
	a 
		text-transform: lowercase
		padding: 5px 20px
		background-color: rgba(0, 0, 0, 1)
		border-color: rgba(0, 0, 0, 1)
		color: #fff	
		margin-right: 40px
		transition: background-color border-color .25s
		&:hover, &:focus
			background-color: rgba(0, 0, 0, .85)
			border-color: rgba(0, 0, 0, 1)

/*---------Карточка товара---------*/	
#product-product	
	.thumbnails
		a 
			border-radius: 0
			padding: 0
			border: none
			img 
				width: 100%
				

//


@import "media"